<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company DBModel</title>
    <link rel="stylesheet" href="{%static '/css/mystyles.css'%}">
</head>
<body>
<center>
    <h1>The Companies list is ::</h1>
    <hr />
    <br />
    {% if cumplist%}
    <table border="2" width="350">
        <caption>Company-Details</caption>
        <thead>
            <th>Company-ID</th>
            <th>Company-Name</th>
            <th>Total-Emps</th>
            <th>Comp-Addr</th>
            <th>Share-Value</th>
        </thead>
        <tbody>
            {% for comp in cumplist%}
            <tr>
                <td> {{comp.compid}}</td>
                <td>{{comp.compname}}</td>
                <td>{{comp.noofemps}}</td>
                <td> {{comp.compaddr}}</td>
                <td> {{comp.compsharevalue}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%else%}
        <p>****No company-records found****</p>
    {% endif %}
<center>
</body>
</html>